/* AdminListing.css */
.admin-listing-container {
    margin: 50px;
}

.sub-ctr-listing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.ctr-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    animation: fadeIn 0.5s ease-in-out;
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    animation: fadeIn 0.7s ease-in-out;
}

.pagination button {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #ecb159;
    border: none;
    border-radius: 4px;
    color: #1e2023;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.pagination button:hover {
    background-color: rgba(0, 195, 112, 1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal styling */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000; 
    max-width: 80%; 
    max-height: 80%;
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Ensure it's below the modal but above other elements */
}
