.ctr-main-header {
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
}

.ctr-main-header-logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #493930;
}

.ctr-main-header-logo img {
    align-items: flex-end;
    margin-right: 10px;
    width: 70px;
}

.ctr-main-header-nav {
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    width: 400px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}

.ctr-main-header-nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

.ctr-main-header-nav a:before,
.ctr-main-header-nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.ctr-main-header-nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

.ctr-main-header-nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}

.ctr-main-header-nav a:nth-child(1):before {
    background-color: rgba(91,74,49,255);
}

.ctr-main-header-nav a:nth-child(1):after {
    background-color: rgba(0, 195, 112, 1);
}

.ctr-main-header-nav a:nth-child(2):before {
    background-color: rgba(91,74,49,255);
}

.ctr-main-header-nav a:nth-child(2):after {
    background-color: rgba(0, 195, 112, 1);
}

.ctr-main-header-nav a:nth-child(3):before {
    background-color: rgba(91,74,49,255);
}

.ctr-main-header-nav a:nth-child(3):after {
    background-color: rgba(0, 195, 112, 1);
}

#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

.ctr-main-header-nav a:hover {
    color: #493930;
}

.ctr-main-header-nav a:hover:before,
.ctr-main-header-nav a:hover:after {
    transform: scale(1);
}

.ctr-main-header-nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, rgba(91,74,49,255), rgba(0, 195, 112, 1));
}

.ctr-main-header-nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, rgba(91,74,49,255), rgba(0, 195, 112, 1));
}

.ctr-main-header-nav a:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgba(91,74,49,255), rgba(0, 195, 112, 1));
}

.active {
    color: #ecb159;
}

.ctr-main-header-login button {
    width: 150px;
    height: 40px;
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #ccc; /* Gray border */
    background-color: #fff; /* White background */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow */
    transition: all 0.3s ease; /* Smooth transition */
    text-align: center;
    color: rgba(33,33,33,255);
    text-transform: uppercase;
    font-weight: normal;
    color: #949494;
}

.ctr-main-header-login button:hover {
    color: rgba(0, 195, 112, 1);
    font-weight: bold;
    transform: scale(1.00); /* Grow the button a bit on hover */
}

.btn-apply-filter {
    width: 80px;
    height: 40px;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Gray border */
    background-color: #fff; /* White background */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow */
    transition: all 0.3s ease; /* Smooth transition */
    text-align: center;
    color: rgba(33,33,33,255);
    text-transform: uppercase;
    font-weight: normal;
    color: #949494;
}

.btn-apply-filter:hover {
    color: rgba(0, 195, 112, 1);
    font-weight: bold;
    transform: scale(1.00); /* Grow the button a bit on hover */
}

.ctr-main-header-search {
    margin-top: 20px; /* Adjust as needed */
    position: relative; /* Necessary for positioning the dropdown */
    display: flex;
    align-items: center;
    gap: 8px;
    display: inline-block;
}

.ctr-main-header-search input {
    border: 2px solid #dfe1e5; 
    border-radius: 24px; 
    padding: 10px 16px; 
    font-size: 16px;
    width: 500px; 
    outline: none;
}

.ctr-main-header-search input:focus {
    border-color: #bfc2c9; 
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.ctr-main-header-filter {
    width: 100%;
    margin-top: 5px;
}

.filter-bar {
    display: flex;
    gap: 5px;
    float: left;
}

.filter-bar select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    outline: none;
    width: 118.5px;
}

.filter-bar select:hover {
    cursor: pointer;;
}

.filter-advanced {
    text-align: right;
}

.filter-advanced button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    outline: none;
    width: 220px;
}

.filter-advanced button:hover {
    cursor: pointer;
}

.filter-advanced-gap {
    margin-left: 20px;
}

.advanced-filters-panel {
    height: 200px;
    background-color: #d9d9d9;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu-toggle {
    display: none;
}

/* Adjustments for responsiveness tablet*/
@media (max-width: 1024px) {
    .ctr-main-header-logo {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: #493930;
    }
    
    .ctr-main-header-logo img {
        width: 50px;
    }
    
    .ctr-main-header-nav {
        width: 300px;
        font-size: 14px;
    }
    
    .ctr-main-header-nav a {
        width: 25%; 
        padding: 10px 15px; 
    }
    
    #indicator {
        left: 10%; 
        width: 20px; 
    }
       
    .ctr-main-header-login button {
        width: 150px; 
        height: 35px; 
        font-size: 12px; 
    }

    .ctr-main-header-filter {
        flex-direction: column;
    }

    .filter-bar {
        margin-bottom: 5px;
    }
}

/* Adjustments for responsiveness mobile*/
@media (max-width: 768px) {
    .ctr-toggle {
        display: none; /* Initially hide .ctr-toggle */
        position: absolute;
        top: 90px;
        right: 0;
        width: 100%;
        height: 90px;
        z-index: 1000;
        border-radius: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }

    .ctr-main-header-nav {
        top: 20px;
        width: 300px;
    }

    .ctr-main-header-login button {
        position: absolute;
        bottom: 0; 
        width: 96%;
        height: 40px;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .ctr-toggle.show {
        display: block; /* Show .ctr-toggle when it has the 'show' class */
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 40px;
        right: -30px;
        cursor: pointer;
        z-index: 998; 
        width: 50px;
        height: 50px; 
        font-size: 24px; 
    }

    .ctr-main-header-search,
    .ctr-main-header-search input {
        width: 100%;
    }

    .filter-bar {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    .filter-bar select {
        flex: 1 1 calc(33.33% - 10px); /* Calculate width to fit three selects per row */
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        outline: none;
        min-width: 0; 
        box-sizing: border-box; 
    }

    .btn-apply-filter {
        width: 120px;
    }
}