*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.nav--container{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
}

.logo{
    width: 150px;
}

.log--in ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.log--in a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.log--in ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.log--in li.active{
    background-color: #555;
}

.log--in li:hover{
    background-color: #777;
}
.menu--corner{
    margin-bottom: 0%;
}
.menu{
    background-color: white;
    color: black;
    position: absolute;
    top: 4.5rem;
    right: 1.5rem;
    border: 1px #555 solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0%;
    
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
  
}

.menu li{
 
        padding: 0.5rem; /* p-2 */
        font-size: 1.25rem; /* text-lg */
        cursor: pointer; /* curspr-pointer */
        border-radius: 0.25rem; /* rounded */
        font-size: 14px;
 
}

.menu li:hover{
  background-color: rgb(236, 240, 239);

}

.drop-down-arrow{
    width: 20px;
    height: 20px;
}



.menu::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right:1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}