/* admin.css */
.admin-page {
  display: flex;
  height: calc(100vh - 60px);
  background-color: #f5f5f5;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  padding: 20px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* .sidebar li {
  margin-bottom: 10px;
} */

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.sidebar a:hover {
  background-color: #7d7f81;
}

.content {
  flex: 1;
  padding: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat-card {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.blue {
  background-color: #77aee9;
}

.green {
  background-color: #7dc08c;
}

.red {
  background-color: #db7a84;
}
