.admin-page {
  display: flex;
  height: calc(100vh - 60px);
  background-color: #f5f5f5;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  padding: 20px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #a2c0a7;
}

.content {
  flex: 1;
  padding: 20px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.stat-card {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30%; 
  background-color: #343a40; /* Match sidebar color */
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #a2c0a7; /* Match sidebar hover color */
}

.three-col .stat-card {
  width: 30%;
}

/* .pending-verification {
  background-color: #db7a84; 
} */

.pending-verification:hover {
  background-color: #a2c0a7; /* Match sidebar hover color */
}

.yellow {
  background-color: #db7a84;
}

/* Remove specific color classes */
/* .blue, .green, .red, .yellow {
  background-color: unset;
} */
