.ctr-user-content-block {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form {
    background-color: rgb(230, 235, 232);
    width: 500px;
    height: 600px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 10px;
    margin: 0px auto 70px auto; /* Adjust the top and bottom margins as needed */
}

.footer--button{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap:20px;
}

/* CSS */
.button-31 {
    width: 150px;
    height: 30px;
    margin: 0 auto 30px auto; /* Center horizontally and add bottom margin */
    border-radius: 10px;
    border: 1px solid #ecb159;
    background-color: #ecb159;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; /* Smooth transition */
    text-align: center;
    color: rgba(33, 33, 33, 255);
    display: block; 
    font-weight: bold;
    margin-top: 15px;
}

.button-31:hover,
.button-31:focus {
    font-weight: bold;
    transform: scale(1.00); /* Grow the button a bit on hover */
    color: #FFFFFF;
    cursor: pointer;
    background-color: rgba(0, 195, 112, 1);
}

/* CSS */
.button-6 {
    width: 150px;
    height: 30px;
    margin: 0 auto 30px auto; /* Center horizontally and add bottom margin */
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; /* Smooth transition */
    text-align: center;
    color: rgba(33, 33, 33, 255);
    display: block; 
    font-weight: bold;
    margin-top: 15px;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 195, 112, 1);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* Adjustments for responsiveness mobile*/
@media (max-width: 768px) {
    .form {
        background-color: rgb(230, 235, 232);
        width: 98%;
        height: max-content;
    }
}