/* 



.heading{
    width: 100%;
    background-color: rgba(245, 245, 242, 0.944);
    align-self: center;
    text-align: center;
    color:rgb(7, 82, 34); 
    margin-bottom: auto;  
}




.bttn{        
    width: 100%;
        background-color: #fff;
        color: rgba(35, 159, 82, 0.81);
        border:rgb(243, 235, 225);
        border-radius:10px;
        padding: 10px;
}

.sign--up{
    background-color: #090909;
    color:rgb(243, 235, 225);
    border: rgba(35, 159, 82);
    border-radius:10px;
    padding: 10px;
    margin-top: 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-color: rgba(9, 9, 9); 
    color: #fff; /* Set text color 
  }
  
  .button--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px; 
    border-radius: 10px;
    margin-bottom: auto; 
    background-color: antiquewhite;

    padding: 50px;
    border-radius: 15px;
    box-shadow: #fff;
  }
   */