/*
    File: main.css
*/

/* Landing Page css */
body {
    font-family: "Arial", "Verdana", "Tahoma", "Trebuchet MS", sans-serif;
}

/*.ctr-main {
    
}*/

/* Blur the below popup */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it's above other elements */
}

/* sub container of the main container */
.ctr-sub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    width: 70%;
    height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex; /* Use flexbox */
}

/* the left sub container under ctr-sub container */
.ctr-sub-left {
    width: 50%;
    height: 100%;
    background-image: url('../../../public/images/landingpage-bg-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: relative;
    text-align: right;
    padding-top: 10%;
    padding-right: 5%;
}

/* ctr-sub-left: transparent layer covering the left sub container */
.ctr-sub-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent */
}

/* the right sub container under ctr-sub container */
.ctr-sub-right {
    width: 50%;
    height: 100%;
    background-color: white;
    float: right;
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ctr-sub-left: font */
.ctr-sub-left-font {
    color: #FFFFFF;
    position: relative; /* Add position relative */
    z-index: 1; /* Set a higher z-index */
}

/* ctr-sub-right: font */
.ctr-sub-right-font {
    color: rgba(217,202,179,255);
    margin-top: -50px;
}

/* ctr-sub-right: font: paragraph */
.ctr-sub-right-font-p {
    color: rgba(217,202,179,255);
    margin: 2%;
    font-weight: bold;
}

hr {
    color: #828282;
    position: relative;
    z-index: 1;
    width: 50%;
    margin-left: 50%;
}

img {
    position: relative;
    z-index: 1;
    width: 150px;
}

/* ctr-sub-left: to place content at the bottom right */
.placeAtBottom-right {
    position: absolute;
    bottom: 0;
    right: 5%; /* Use the same value as the padding-right of .ctr-sub-left */
    color: #a8a8a8;
}

.placeAtBottom-right a {
    color: #a8a8a8;
    text-decoration: none;
}

.placeAtBottom-right a:hover {
    font-weight: bold;
    text-decoration: solid;
    cursor: pointer; /* Change cursor to pointer on hover */
    color: rgba(0, 195, 112, 1); /* Change text color on hover */
}

/* ctr-sub-right: to place content at the bottom left */
.placeAtBottom-left {
    position: absolute;
    bottom: 0;
    left: 5%; /* Use the same value as the padding-right of .ctr-sub-left */
    color: #a8a8a8;
}

/* ctr-btn: continue as a guest and sign in buttons layout*/
.ctr-btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ctr-btn: continue as a guest and sign in buttons styling*/
.btn-login {
    width: 300px;
    height: 40px;
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #ccc; /* Gray border */
    background-color: #fff; /* White background */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow */
    transition: all 0.3s ease; /* Smooth transition */
    font-weight: normal; /* Initial font weight */
    text-align: left;
    padding-left: 35px;
    color: rgba(33,33,33,255);
    text-transform: uppercase;
}

/* ctr-btn: continue as a guest and sign in buttons hover styling*/
.btn-login:hover {
    font-weight: bold;
    transform: scale(1.05); /* Grow the button a bit on hover */
}

/* sign up button */
.btn-signup {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: rgba(33,33,33,255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    font-weight: normal;
    text-align: left;
    padding-left: 35px;
    color: rgba(217,202,179,255);
    text-transform: uppercase;
}

/* sign up button: hover styling */
.btn-signup:hover {
    font-weight: bold;
    transform: scale(1.05);
}

/* span: hover link styling */
span:hover {
    font-weight: bold;
    text-decoration: solid;
    cursor: pointer; /* Change cursor to pointer on hover */
    color: rgba(0, 195, 112, 1); /* Change text color on hover */
}

/*
    main popup container
    also the sign up popup
*/
.popup {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: white; /* White background */
    padding: 40px; /* Padding inside the popup */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Shadow */
    z-index: 999; /* Ensure it's above other content */
    width: 400px;
    border-radius: 10px; /* Rounded corners */
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    font-size: 20px;
}

.link-forgot-pass {
    text-align: right;
    font-size: 15px;
    margin-top: -10px;
}

.popup-content {
    margin: 5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.popup-content label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup-content input {
    width: 100%;
    height: 30px;;
}

.popup-content input::placeholder {
    color: #999; /* Placeholder text color */
    font-style: italic; /* Placeholder text style */
}

.popup-content .button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 10px;
}

.popup-content button {
    background-color: rgba(33,33,33,255);
    border: 1px solid #ccc;
    cursor: pointer;
    width: 45%; /* Match the width of .btn-signup */
    height: 40px; /* Match the height of .btn-signup */
    border-radius: 20px; /* Match the border radius of .btn-signup */
    color: rgba(217,202,179,255);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.popup-content button:hover {
    background-color: rgba(217,202,179,255);
    color: rgba(33,33,33,255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content .button-container textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: -20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.new-line-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-link-align-right {
    text-align: right;
    margin-bottom: -40px;
    font-size: 15px;;
}

.popup-signup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 999;
    width: 925px;
    border-radius: 10px;
}

.popup-content-signup {
    margin: 5%;
    text-align: left;
}

.popup-content-signup form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.popup-content-signup label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup-content-signup input::placeholder {
    color: #999; /* Placeholder text color */
    font-style: italic; /* Placeholder text style */
}

/*.popup-content-signup input {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}*/

.popup-content-signup .ctr-register-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup-content-signup .ctr-register-info label {
    text-align: left;
    width: max-content;
    width: 30%;
    margin-bottom: 20px;
}

.popup-content-signup .ctr-register-info input {
    text-align: left;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.popup-content-signup .role-container {
    text-align: left;
}

.popup-content-signup .role-container fieldset {
    width: 755px;
}

.popup-content-signup .role-container label {
    width: 10%;
    float: left;
}

.popup-content-signup .role-container input {
    width: 20%;
    float: left;
    margin-right: 10px;
}

.popup-content-signup .role-container .role-radio input[type='radio'] {
    height: 20px;
    width: 20px;
    margin-top: 8px;
}

/* Color for radio button when selected */
.popup-content-signup .role-container .role-radio input[type='radio']:checked + label {
    /* Set the desired color for the label */
    color: rgba(0, 195, 112, 1); /* Example color */
}

.popup-content-signup .button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 10px;
}

.popup-content-signup button {
    background-color: rgba(33,33,33,255);
    border: 1px solid #ccc;
    cursor: pointer;
    width: 45%; /* Match the width of .btn-signup */
    height: 40px; /* Match the height of .btn-signup */
    border-radius: 20px; /* Match the border radius of .btn-signup */
    color: rgba(217,202,179,255);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.popup-content-signup button:hover {
    background-color: rgba(217,202,179,255);
    color: rgba(33,33,33,255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-request-inspection {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 999;
    width: 785px;
    border-radius: 10px;
}

.popup-content-inspection {
    margin: 0px;
    text-align: left;
}

.popup-content-inspection button {
    background-color: rgba(33,33,33,255);
    border: 1px solid #ccc;
    cursor: pointer;
    width: 45%; /* Match the width of .btn-signup */
    height: 40px; /* Match the height of .btn-signup */
    border-radius: 20px; /* Match the border radius of .btn-signup */
    color: rgba(217,202,179,255);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.popup-content-inspection button:hover {
    background-color: #FFFFFF;
    color: rgba(33,33,33,255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content-inspection .ctr-schedule {
    height: 120px;
}

.popup-content-inspection .ctr-schedule .ctr-schedule-request {
    width: 60%;
    float: left;
    position: relative;
}

/* Adjustments for responsiveness */
/*@media (max-width: 768px) {
    .popup-signup {
        width: 80%;
    }
    .popup-content-signup input {
        width: 100%;
    }
    .popup-content-signup button {
        width: 100%;
    }
}*/