.sign-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: rgb(9, 35, 1);
}

.sign-in-form{
    
    background-color: rgba(255, 255, 255); /* Change opacity here */
    color: #02270b; /* Set text color */
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #fff;
}

.sign-in-input-box{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.login--button{
    margin-top: 3%;

    background-color: rgb(9, 46, 21);
    color: rgb(255, 255, 255); 
    border: 2px solid #022a1b;
}

.forgot-password-container {
    display: flex;
    justify-content: flex-end;
}

.forgot-password{
    font-size: 10px;
}